Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feature(ocpp16): Authorize response waits for set user price (#1065)
  config/v16/config-full.json
  config/v16/profile_schemas/CostAndPrice.json
  doc/common/california_pricing_requirements.md
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v16/ocpp_types.hpp
  include/ocpp/v16/types.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v201/charge_point.cpp
  src/charge_point.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Session cost add message (#1007)
  doc/common/california_pricing_requirements.md
  include/ocpp/common/types.hpp
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v201/charge_point_callbacks.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v201/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat(ocpp21): Q01/Q02 Use Case
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/CMakeLists.txt
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat(ocpp21): Q01/Q02 Use Case
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/CMakeLists.txt
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Catch and aggregate missing required variables in DeviceModel
  config/v2/component_config/standardized/OCPPCommCtrlr.json.bak
  lib/ocpp/v2/device_model.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v2): eventNotificationType made optional NotifyMonitoringReport
  include/ocpp/v2/ocpp_types.hpp
  lib/ocpp/v2/ocpp_types.cpp
  src/code_generator/common/generate_cpp.py
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat(ocpp21): Q01/Q02 Use Case (#1096)
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/CMakeLists.txt
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Addressed comments
  include/ocpp/v2/init_device_model_db.hpp
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Added reconnect on ping timeout
  include/ocpp/common/websocket/websocket_base.hpp
  lib/ocpp/common/websocket/websocket_base.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Added option for a pong timeout different from the ping interval
  include/ocpp/common/websocket/websocket.hpp
  include/ocpp/common/websocket/websocket_base.hpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/common/websocket/websocket_base.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix #1042: Add explicit config setup to authorization unit tests
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix #1042: Add explicit config setup to remaining authorization unit tests
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Stopping ping timer when connection closed or failed. Closing connection instead of calling reconnect() on a pong timeout. User application logic will trigger the reconnect
  lib/ocpp/common/websocket/websocket_base.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix json exceptions being thrown during handling of invalid messages
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Handle json errors in 1.6 message_callback similarly to 2.x code
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Bump versions of liblog and libevse security
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump versions of liblog and libevse security
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Some fixes after rebase
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v21/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Ocpp2.1 smart charging K01 (#1014)
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
  config/v2/component_config/standardized/SmartChargingCtrlr.json
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/functional_block_context.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/utils.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/profile.cpp
  lib/ocpp/v2/utils.cpp
  tests/CMakeLists.txt
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
  tests/lib/ocpp/v2/functional_blocks/test_data_transfer.cpp
  tests/lib/ocpp/v2/functional_blocks/test_reservation.cpp
  tests/lib/ocpp/v2/functional_blocks/test_security.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v21/CMakeLists.txt
  tests/lib/ocpp/v21/functional_blocks/CMakeLists.txt
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat(ocpp21): Q01/Q02 Use Case (#1096)
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/CMakeLists.txt
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

refactor(OCPP2.x): Adjustments to device model (#1093)
  include/ocpp/v2/ctrlr_component_variables.hpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

V2.1 composite schedule: setpoints, discharge limit, phases (#1031)
  doc/v2/ocpp_2x_status.md
  include/ocpp/common/constants.hpp
  include/ocpp/common/utils.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/common/utils.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v2/test_profile.cpp
  tests/lib/ocpp/v21/CMakeLists.txt
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/0_TxDefaultProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/0_TxProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/1_TxDefaultProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/1_TxProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/2_TxDefaultProfile.json
  tests/lib/ocpp/v21/json/different_number_phases/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/different_number_phases/1/0_TxProfile.json
  tests/lib/ocpp/v21/json/max/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/max/1/TXProfile_2000.json
  tests/lib/ocpp/v21/json/no_limit_specified/TxProfile.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_1.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_100.json
  tests/lib/ocpp/v21/json/stack/1_TxDefaultProfile_max_2kW.json
  tests/lib/ocpp/v21/json/stack/2_TxDefaultProfile_sunday_nolimit.json
  tests/lib/ocpp/v21/json/stack/3_TxDefaultProfile_christmas2020_nolimit.json
  tests/lib/ocpp/v21/json/station_wide_three_phases/ChargingStationMaxProfileGrid_hourly.json
  tests/lib/ocpp/v21/json/station_wide_three_phases/TxDefaultProfileRelativeThreePhases.json
  tests/lib/ocpp/v21/test_composite_schedule.cpp
  tests/libocpp-unittests.cmake
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix small duplication
  include/ocpp/v2/ctrlr_component_variables.hpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add requirement number
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v21): Removed NotifyCRL and NotifyQRCodeScanned as they don't exit
  include/ocpp/v2/types.hpp
  include/ocpp/v21/messages/NotifyCRL.hpp
  include/ocpp/v21/messages/NotifyQRCodeScanned.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/types.cpp
  lib/ocpp/v21/messages/NotifyCRL.cpp
  lib/ocpp/v21/messages/NotifyQRCodeScanned.cpp
  src/code_generator/common/generate_cpp.py
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: update OCPP 1.6 configuration via a separate file
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(generator): Fix generator for required arrays of string enums
  lib/ocpp/v21/messages/NotifyAllowedEnergyTransfer.cpp
  src/code_generator/common/templates/message.cpp.jinja
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v21): Fix V2XChargingCtrlr variables
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/device_model.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: update OCPP 1.6 configuration via a separate file (#1113)
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(v21): Rejected response for NotifyAllowedEnergyTransfer
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

* Resetting session_start within evse looop * Excluding setpoints for summing limits of evse id 0 * Allowing to apply a min limit of 0W or 0A.
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v16/json/TxDefault_relative.json
  tests/lib/ocpp/v16/test_composite_schedule.cpp
  tests/lib/ocpp/v2/json/relative/TxDefault_relative.json
  tests/lib/ocpp/v2/mocks/evse_manager_fake.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Update dependencies
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump version to 0.29.0
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v21): Fix V2XChargingCtrlr variables
  config/v2/component_config/standardized/ISO15118Ctrlr.json
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/test_charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix: Composite schedule calculation for connector 0 (#1112) (#22)
  lib/ocpp/v16/smart_charging.cpp
  tests/lib/ocpp/v16/json/TxDefault_relative.json
  tests/lib/ocpp/v16/test_composite_schedule.cpp
  tests/lib/ocpp/v201/mocks/evse_manager_fake.hpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Use libwebsockets v4.3.6 and set CMAKE_POLICY_VERSION_MINIMUM 3.5 for it
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp16): Typo in WebSocketPintInterval config key name
  config/v16/config-docker.json
  config/v16/config-full.json
  config/v16/profile_schemas/Core.json
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Couple of fixes for OCPP1.6 configuration keys
  config/v16/config-full.json
  config/v16/profile_schemas/PnC.json
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Configuration key fixes (#1120) (#24)
  config/v16/config-docker.json
  config/v16/config-full.json
  config/v16/profile_schemas/Core.json
  config/v16/profile_schemas/PnC.json
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix(v21): Rejected response for NotifyAllowedEnergyTransfer
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre
