Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre

V2.1 composite schedule: setpoints, discharge limit, phases (#1031)
  doc/v2/ocpp_2x_status.md
  include/ocpp/common/constants.hpp
  include/ocpp/common/utils.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/common/utils.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v2/test_profile.cpp
  tests/lib/ocpp/v21/CMakeLists.txt
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/0_TxDefaultProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/0_TxProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/1_TxDefaultProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/1_TxProfile.json
  tests/lib/ocpp/v21/json/charging_rate_unit_combine/1/2_TxDefaultProfile.json
  tests/lib/ocpp/v21/json/different_number_phases/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/different_number_phases/1/0_TxProfile.json
  tests/lib/ocpp/v21/json/max/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/max/1/TXProfile_2000.json
  tests/lib/ocpp/v21/json/no_limit_specified/TxProfile.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_1.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_100.json
  tests/lib/ocpp/v21/json/stack/1_TxDefaultProfile_max_2kW.json
  tests/lib/ocpp/v21/json/stack/2_TxDefaultProfile_sunday_nolimit.json
  tests/lib/ocpp/v21/json/stack/3_TxDefaultProfile_christmas2020_nolimit.json
  tests/lib/ocpp/v21/json/station_wide_three_phases/ChargingStationMaxProfileGrid_hourly.json
  tests/lib/ocpp/v21/json/station_wide_three_phases/TxDefaultProfileRelativeThreePhases.json
  tests/lib/ocpp/v21/test_composite_schedule.cpp
  tests/libocpp-unittests.cmake
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Some fixes after rebase
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v21/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp16): Reset fw/log status' to Idle after success and failures
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Reset fw/log status' to Idle after success and failures (#16)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Added accidentally removed catch clause
  lib/ocpp/v16/charge_point_impl.cpp
  src/charge_point.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Add helpers to set charge point common data
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Add support for default price text in tariff messages (online/offline)
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Address review comments
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Added accidentally removed catch clause
  lib/ocpp/v16/charge_point_impl.cpp
  src/charge_point.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Add support for default price text in tariff messages (online/offline)
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Let set_variable_attribute_value return SetVariableStatusEnum, not bool
  CMakeLists.txt
  include/ocpp/v2/device_model_storage_interface.hpp
  include/ocpp/v2/device_model_storage_sqlite.hpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v2/device_model_storage_sqlite.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Adapt return value of mocked set_variable_attribute_value
  tests/lib/ocpp/v2/mocks/device_model_storage_interface_mock.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Check if DefaultPrice JSON contains properties before accessing
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Reduced code duplication using update_tariff_message_if_eligible lambda
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Only adding default price text if language and text is present
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Fix EVSE struct initialization in handle_unlock_connector
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fixed issue in V2G CSR generation, where getCpoName().value() always evaluated and could cause a bad optional access
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Catch and aggregate missing required variables in DeviceModel
  config/v2/component_config/standardized/OCPPCommCtrlr.json
  lib/ocpp/v2/device_model.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

bump to 0.27.1
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Readded component configs for connectors and evses; Check if custom directory is empty before iterating
  config/v2/CMakeLists.txt
  config/v2/component_config/custom/Connector_1_1.json
  config/v2/component_config/custom/Connector_2_1.json
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Apply suggestions from code review
  config/v2/component_config/custom/Connector_1_1.json
  config/v2/component_config/custom/Connector_2_1.json
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Made cmake script more flexible to differentiate between standardized and custom components
  config/v2/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Added test case for core migration 4
  tests/lib/ocpp/v16/test_database_migration_files.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fixes for security interface updates
  lib/ocpp/common/evse_security_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Updated deps
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

format
  lib/ocpp/common/evse_security_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Replace deprecated boost::asio::io_service with boost::asio::io_context (#1005)
  include/ocpp/common/charging_station_base.hpp
  include/ocpp/v201/evse.hpp
  lib/ocpp/common/charging_station_base.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v201/evse.cpp
  tests/lib/ocpp/v201/mocks/evse_mock.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat(ocpp21): Q01/Q02 Use Case
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/CMakeLists.txt
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/charge_point_callbacks.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/functional_blocks/test_availability.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Address review comments
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Add helpers to set charge point common data
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Support for newer boost
  lib/ocpp/v201/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add helper methods to set common charge point data
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Revert test changes and restore removed JSON config
  config/v2/component_config/standardized/OCPPCommCtrlr.json
  lib/ocpp/v2/device_model.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix formatting and ensure required variables are restored
  config/v2/component_config/standardized/OCPPCommCtrlr.json
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Update config/v2/CMakeLists.txt
  config/v2/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Readded component configs for connectors and evses; Check if custom directory is empty before iterating
  config/v2/CMakeLists.txt
  config/v2/component_config/custom/Connector_1_1.json
  config/v2/component_config/custom/Connector_2_1.json
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Made cmake script more flexible to differentiate between standardized and custom components
  config/v2/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Apply suggestions from code review
  config/v2/component_config/custom/Connector_1_1.json
  config/v2/component_config/custom/Connector_2_1.json
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fixed issue in V2G CSR generation, where getCpoName().value() always evaluated and could cause a bad optional access (#1089)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

refactor(ocpp1.6): Composite Schedule calculation (#1062)
  include/ocpp/v16/profile.hpp
  include/ocpp/v16/smart_charging.hpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v16/smart_charging.cpp
  tests/lib/ocpp/common/smart_charging_matchers.hpp
  tests/lib/ocpp/v16/json/Absolute_301.json
  tests/lib/ocpp/v16/json/ChargingStationMaxProfile_24_Ampere.json
  tests/lib/ocpp/v16/json/ChargingStationMaxProfile_401.json
  tests/lib/ocpp/v16/json/Recurring_Daily_301.json
  tests/lib/ocpp/v16/json/Recurring_Daily_302_phase_limit.json
  tests/lib/ocpp/v16/json/Relative_302_phase_limit.json
  tests/lib/ocpp/v16/json/Relative_303.json
  tests/lib/ocpp/v16/json/TXDefaultProfile_25_Watt.json
  tests/lib/ocpp/v16/json/TxDefaultProfile_401.json
  tests/lib/ocpp/v16/json/TxDefaultProfile_402.json
  tests/lib/ocpp/v16/profile_testsA.cpp
  tests/lib/ocpp/v16/profile_testsB.cpp
  tests/lib/ocpp/v16/profile_testsC.cpp
  tests/lib/ocpp/v16/profile_tests_common.hpp
  tests/lib/ocpp/v16/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers
