Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use lambdas instead of bind
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/connectivity_manager.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/monitoring_updater.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Reserve space in containers
  lib/ocpp/common/evse_security.cpp
  lib/ocpp/common/evse_security_impl.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v2/functional_blocks/security.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use std::is_same_v
  include/ocpp/v2/device_model.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Ignore widening conversion warnings on very small constant values
  lib/ocpp/v16/profile.cpp
Owners: @pietfried, @hikinggrass, @mlitre

use container.find()
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Use nullptr instead of NULL
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

remove redundant inline
  include/ocpp/common/safe_queue.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

clamp values so they do not overflow
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/charge_point_state_machine.cpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/component_state_manager.cpp
  lib/ocpp/v2/connectivity_manager.cpp
  lib/ocpp/v2/database_handler.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v2/device_model_storage_sqlite.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/reservation.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

remove repeating visibilities
  include/ocpp/common/websocket/websocket_libwebsockets.hpp
  include/ocpp/v2/functional_blocks/diagnostics.hpp
  include/ocpp/v2/functional_blocks/provisioning.hpp
  include/ocpp/v2/functional_blocks/remote_transaction_control.hpp
  include/ocpp/v2/functional_blocks/security.hpp
  include/ocpp/v2/functional_blocks/tariff_and_cost.hpp
  include/ocpp/v2/functional_blocks/transaction.hpp
  include/ocpp/v2/monitoring_updater.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Do not return void from void function
  lib/ocpp/v2/evse.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

clang-format
  include/ocpp/common/safe_queue.hpp
  include/ocpp/common/string.hpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Set ContractCertificateInstallationEnabled to true. This configuration is required to work with the EVerest Plug&Charge tutorial
  config/v2/component_config/standardized/ISO15118Ctrlr.json
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Set ContractCertificateInstallationEnabled to true. This configuration is required to work with the EVerest Plug&Charge tutorial (#1148)
  config/v2/component_config/standardized/ISO15118Ctrlr.json
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bugfix/websocket ping pong (#1102)
  include/ocpp/common/websocket/websocket.hpp
  include/ocpp/common/websocket/websocket_base.hpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/common/websocket/websocket_base.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

libwebsockets: enable IPv6 (#1144)
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump version to 0.30.3
  CMakeLists.txt
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump version to 0.30.3 (#1149)
  CMakeLists.txt
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Extend status file ocpp 201 by requirements definition
  doc/v2/ocpp_2x_status.md
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Extend status file ocpp 201 by requirements definition
  doc/v2/ocpp_2x_status.md
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Verifying pnc contract against MO and now also against V2G root (#1034)
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v201/functional_blocks/authorization.cpp
  tests/lib/ocpp/v201/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Addressed added argument to libevse-security for verify_certificate (#1033)
  dependencies.yaml
  include/ocpp/common/evse_security.hpp
  include/ocpp/common/evse_security_impl.hpp
  lib/ocpp/common/evse_security_impl.cpp
  tests/lib/ocpp/common/evse_security_mock.hpp
  tests/lib/ocpp/v201/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

DataTransfer.req(GetInstalledCertificates) now responds with NotFound in case no certificates were found (#1035)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

refactor(OCPP1.6): OCSP cache updates (#1094)
  config/v16/core_migrations/4_down-drop-ocsp-request.sql
  config/v16/core_migrations/4_up-drop-ocsp-request.sql
  include/ocpp/v16/database_handler.hpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/database_handler.cpp
  tests/lib/ocpp/v16/test_database_migration_files.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Bounds checks for Plug&Charge configuration keys (#1040)
  config/v16/config-full.json
  config/v16/profile_schemas/Internal.json
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

feat(ocpp16): add ISO15118CertificateManagementEnabled configuration option: (#1123)
  config/v16/config-docker-tls.json
  config/v16/config-docker.json
  config/v16/config-full.json
  config/v16/config.json
  config/v16/profile_schemas/PnC.json
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/config/v16/resources/config.json
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Fixes for security interface updates (#1095)
  dependencies.yaml
  lib/ocpp/common/evse_security_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fixed bug to set CentralContractValidationAllowed (#1038)
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Fixed a bug that set_connection_timeout_callback was called without checking for nullptr (#1044)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Add compatibility with Boost 1.89
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add compatibility with Boost 1.89 (#1151)
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: setting a configuration key now detects if the key exists feat: set custom key removed and replaced with set key This allows all OCPP 1.6 keys to be set via EVerest internal and stable APIs
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/lib/ocpp/common/message_queue_test.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/test_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: setting keys via methods (rather than OCPP) was not calling actions
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix: clang format update
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

[OCPP 1.6] Add support for updating OCPP config via method calls (#1152)
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/lib/ocpp/common/message_queue_test.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/test_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: setting a configuration key now detects if the key exists feat: set custom key removed and replaced with set key This allows all OCPP 1.6 keys to be set via EVerest internal and stable APIs
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/lib/ocpp/common/message_queue_test.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/test_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: setting keys via methods (rather than OCPP) was not calling actions
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix: clang format update
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix: integration test failures fix: set configurtaion now returns optional
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/lib/ocpp/v16/test_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: set_configuration_key_internal now a private method
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

[OCPP 1.6] Add support for updating OCPP config via method calls (#1153)
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/lib/ocpp/common/message_queue_test.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/test_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre
