Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Verifying pnc contract against MO and now also against V2G root
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Remove using namespace everest::db and catch db Exception with full namespace
  lib/ocpp/v2/functional_blocks/authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add missing newline
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

explicitly use everest::db::Exception instead of using its namespace
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix small issue with if clause
  lib/ocpp/v2/functional_blocks/authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp16): Send security event on invalid csms cert TC_078_CS
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Send security event on invalid csms cert TC_078_CS
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Update version to 0.26.0
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Update dependencies.yaml
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v2Database): Use proper last used date for cache expiry
  lib/ocpp/v2/database_handler.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v2Database): Use proper last used date for cache expiry
  CMakeLists.txt
  lib/ocpp/v2/database_handler.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Update to v0.26.1 in CMakeLists
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: OCPP 1.6 remove charging profiles with same level and purpose
  lib/ocpp/v16/database_handler.cpp
  tests/lib/ocpp/v16/database_tests.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: PR review - added unit tests to check profile updates
  tests/lib/ocpp/v16/database_tests.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add missing catch of StringConversionException and report CALLERROR
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Report CALLERROR when the message ID cannot be extracted from RPC message
  include/ocpp/common/message_queue.hpp
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Respond with MessageTypeNotSupported CALLERROR when message type is unknown
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump version to 0.26.2
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

refactor(1.6): Split start function in 2
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

feat: OCPP 1.6 periodically checks for expired profiles
  include/ocpp/v16/smart_charging.hpp
  lib/ocpp/v16/smart_charging.cpp
  tests/lib/ocpp/v16/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: add support for removing expired Absolute profiles
  lib/ocpp/v16/smart_charging.cpp
  tests/lib/ocpp/v16/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix(config16): Fix ChargeRateUnit for full ocpp 1.6 config
  config/v16/CMakeLists.txt
  config/v16/config-full.json
Owners: @pietfried, @hikinggrass, @mlitre

fix: add support for removing expired Absolute profiles (#1055)
  lib/ocpp/v16/smart_charging.cpp
  tests/lib/ocpp/v16/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: Typo in types
  lib/ocpp/common/types.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

refactor(ocpp16): Remove the call to stop during a reset
  config/v16/config-full.json
  doc/v16/getting_started.md
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix(ocpp16): Reset connector status to available on failed fw install
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(v16): Removed security event on firmware installed notification
  config/v16/config-full.json
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

refactor(1.6): Split start function in 2 (#1053)
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

refactor(ocpp16): Remove the call to stop during a reset (#1057)
  config/v16/config-full.json
  doc/v16/getting_started.md
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix(ocpp16): Reset connector status to available on failed fw install (#1058)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Bump version to 0.26.3
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump libtimer dependency to 0.1.2
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Provide SSH_KEY for reusable workflow (#8)
  .ci/build-kit/docker/Dockerfile
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v16): Removed security event on firmware installed notification (#1059) (#12)
  config/v16/config-full.json
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v201/functional_blocks/security.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix(ocpp16): Send security event on invalid csms certificate TC_078_CS (#1046) (#4)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Security events for invalide CP and CPMS certificates
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Security events for invalide CP and CPMS certificates (#1061) (#14)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Extended tests to test for periodTransformed
  tests/lib/ocpp/v16/profile_testsC.cpp
  tests/lib/ocpp/v16/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Ensure compliance with OCPP 1.6 3.13.2. Stacking charging profiles (#1051)
  lib/ocpp/v16/database_handler.cpp
  tests/lib/ocpp/v16/database_tests.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Ocpp2.1 smart charging K01 (#1014)
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
  config/v2/component_config/standardized/SmartChargingCtrlr.json
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/ctrlr_component_variables.hpp
  include/ocpp/v2/functional_blocks/functional_block_context.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/utils.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/profile.cpp
  lib/ocpp/v2/utils.cpp
  tests/CMakeLists.txt
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
  tests/lib/ocpp/v2/functional_blocks/test_data_transfer.cpp
  tests/lib/ocpp/v2/functional_blocks/test_reservation.cpp
  tests/lib/ocpp/v2/functional_blocks/test_security.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v21/CMakeLists.txt
  tests/lib/ocpp/v21/functional_blocks/CMakeLists.txt
  tests/lib/ocpp/v21/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre
