Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Check spec with code and add comments. Start with chapter 3.8 implementation.
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Implemented first ocpp2.1 smart charging setpoint test case
  tests/CMakeLists.txt
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v21/CMakeLists.txt
  tests/lib/ocpp/v21/json/setpoints/TxProfile_1.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_100.json
  tests/lib/ocpp/v21/test_composite_schedule.cpp
  tests/libocpp-unittests.cmake
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Implemented handling for OCPP2.1 setpoint and discharge limit for composite schedule calculations
  include/ocpp/common/constants.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v21/json/max/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/max/1/TXProfile_2000.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_1.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_100.json
  tests/lib/ocpp/v21/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Fixes directory and filenames from v201 and v2 and adds optional checks to profile.cpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v21/test_composite_schedule.cpp
  tests/libocpp-unittests.cmake
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Added an event handler for NotifyEVChargingNeedsRequest for OCPP2.0.1
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Modified charging needs to const param
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Introduce the three phases for limit, setpoint and discharge limit.
  include/ocpp/common/utils.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/common/utils.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Add missing return
  lib/ocpp/v201/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Minor fixes to documentation and code style
  doc/common/california_pricing_requirements.md
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

clang-format
  lib/ocpp/common/charging_station_base.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Set spe-tags=,
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass

Update include/ocpp/v2/evse.hpp
  include/ocpp/v2/evse.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

UnlockConnector refactoring (#1006)
  CMakeLists.txt
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  src/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Bump version to 0.24.2
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Moved StatusNotification.req(Finishing) behind StopTransaction.req message. Moving to StatusNotification.req(Available) in case transaction ends because of EVDisconnect (#1000)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @maaikez

fix user specific path
  src/code_generator/README.md
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Removed GetCRL message
  include/ocpp/v21/messages/GetCRL.hpp
  lib/ocpp/v21/messages/GetCRL.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Apply suggested changes
  include/ocpp/v2/constants.hpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_charge_point.cpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v2/test_device_model.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Fix default values in device model
  config/v2/component_config/custom/Connector_1_1.json
  config/v2/component_config/custom/Connector_2_1.json
  config/v2/component_config/standardized/ChargingStation.json
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Bump version for OCPP2.1 message support to 0.25.0
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Squashing OCPP2.1 messages into a single commit:
  include/ocpp/v21/messages/GetCRL.hpp
  lib/ocpp/v21/messages/GetCRL.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Only set period_out limit if there was no limit specified.
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Fixes directory and filenames from v201 and v2 and adds optional checks to profile.cpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v21/test_composite_schedule.cpp
  tests/libocpp-unittests.cmake
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Implemented handling for OCPP2.1 setpoint and discharge limit for composite schedule calculations
  include/ocpp/common/constants.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v21/json/max/0/ChargingStationMaxProfile_grid_hourly.json
  tests/lib/ocpp/v21/json/max/1/TXProfile_2000.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_1.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_100.json
  tests/lib/ocpp/v21/test_composite_schedule.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Fix most of the tests. Continue with the three phases and calculations.
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/test_profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Introduce the three phases for limit, setpoint and discharge limit.
  include/ocpp/common/utils.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/common/utils.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Implemented first ocpp2.1 smart charging setpoint test case
  tests/CMakeLists.txt
  tests/lib/ocpp/v2/smart_charging_test_utils.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
  tests/lib/ocpp/v2/test_composite_schedule.cpp
  tests/lib/ocpp/v21/CMakeLists.txt
  tests/lib/ocpp/v21/json/setpoints/TxProfile_1.json
  tests/lib/ocpp/v21/json/setpoints/TxProfile_100.json
  tests/lib/ocpp/v21/test_composite_schedule.cpp
  tests/libocpp-unittests.cmake
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Modified charging needs to const param
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Added an event handler for NotifyEVChargingNeedsRequest for OCPP2.0.1
  doc/v2/ocpp_2x_status.md
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

added complementary OCPP2.1 requirements to the ocpp2x_status.md
  doc/v2/ocpp_2x_status.md
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Fix after rebase.
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

OCPP 1.6: use session cost message instead of display message for pricing information.
  include/ocpp/common/types.hpp
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Changes for session cost for ocpp 2.x
  doc/common/california_pricing_requirements.md
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/functional_blocks/tariff_and_cost.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/functional_blocks/tariff_and_cost.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Add ocpp_transaction_id. Fix OCPP 1.6 session cost message conversion.
  include/ocpp/common/types.hpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/functional_blocks/tariff_and_cost.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Minor fixes to documentation and code style
  doc/common/california_pricing_requirements.md
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Start with smart charging for 2.1
  include/ocpp/v21/ctrlr_component_variables.hpp
  lib/CMakeLists.txt
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/ctrlr_component_variables.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Add checks in smart charging and add variables.
  config/v2/component_config/custom/EVSE_1.json
  config/v2/component_config/custom/EVSE_2.json
  config/v2/component_config/standardized/SmartChargingCtrlr.json
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v21/ctrlr_component_variables.hpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v21/ctrlr_component_variables.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Fixes after rebase.
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Add profile validation enums and return them on the correct place.
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/utils.hpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/utils.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

Start with some limit calculations.
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @maaikez

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @maaikez

/config/v16/ @pietfried @hikinggrass @maaikez
/include/ocpp/v16/ @pietfried @hikinggrass @maaikez
/lib/ocpp/v16/ @pietfried @hikinggrass @maaikez

/.github/ @pietfried @hikinggrass
