Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: apply the OpenSSL provider updated usage from everest-core ...
  include/ocpp/common/websocket/websocket_libwebsockets.hpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: InvalidCentralSystemCertificate was logged on every failed connection
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Move adding coverage compiler flags to tests CMakeLists.
  lib/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

append coverage compiler flags only to specific target (instead of globally). Run script to remove gcda files and orphaned object / gcno files (useful after switching branches)
  CMakeLists.txt
  lib/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add option to disable coverage cleanup. Cleanup after rebase.
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: Choose correct port for secured transport when scheme is not provided
  lib/ocpp/common/websocket/websocket_uri.cpp
  tests/lib/ocpp/common/test_websocket_uri.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Ensure that time isn't called with a 0 interval
  include/ocpp/common/aligned_timer.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Moved implementations
  lib/ocpp/v2/average_meter_values.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Move = default into header
  include/ocpp/common/websocket/websocket.hpp
  include/ocpp/v2/evse.hpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/v2/evse.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add logs during caught exceptions
  lib/ocpp/common/websocket/websocket_base.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v2/connectivity_manager.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/availability.cpp
  lib/ocpp/v2/functional_blocks/security.cpp
  lib/ocpp/v2/monitoring_updater.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Refactor wildcard X509 host check into its own function
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fall through switch-case, remove NOLINT statements
  lib/ocpp/common/evse_security.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use bool_to_string for boolean config item
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Refactor max_recurrency_duration initialization
  lib/ocpp/v16/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Add warnings to status info
  lib/ocpp/v2/functional_blocks/provisioning.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix typos
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/security.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use const where possible
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Fix unchecked optional access
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/functional_blocks/provisioning.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Add missing else-if that is already upstream
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

clang-format
  lib/ocpp/v2/average_meter_values.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  tests/lib/ocpp/common/test_message_queue.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat(ocpp16): Add support for the MeterPublicKey configuration key; Added public function to set the public key of the powermeter per connector
  config/v16/profile_schemas/Internal.json
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Adressed requested changes
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Revert "Modify drop_transaction_data algorithm to fix some clang-tidy issues"
  lib/ocpp/v16/utils.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Update defaults in MessageQueueConfig
  include/ocpp/common/message_queue.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Moved nullptr checks to initialize function and created make_ocsp_updater function to make it reusable in other constructors
  include/ocpp/v2/charge_point.hpp
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump version to 0.31.0
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix libevse-security pointing to hash (of v0.10.0) instead of v0.10.0
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(db): Fixed uncaught db query exceptions
  include/ocpp/common/message_queue.hpp
  include/ocpp/common/types.hpp
  lib/ocpp/common/types.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/evse.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Removed MessageCallback and logging from ConnectivityManager constructor and added explicit set functions
  include/ocpp/v2/connectivity_manager.hpp
  lib/ocpp/v2/connectivity_manager.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Refactor websocket lifecycle handling and improve connectivity manager integration
  include/ocpp/v2/charge_point.hpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Switch ChargePoint to use ConnectivityManagerInterface
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/connectivity_manager.hpp
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Moved connectivity_manager to common directory
  doc/networkconnectivity/README.md
  include/ocpp/common/connectivity_manager.hpp
  include/ocpp/v2/charge_point_callbacks.hpp
  include/ocpp/v2/functional_blocks/functional_block_context.hpp
  include/ocpp/v2/message_dispatcher.hpp
  lib/CMakeLists.txt
  lib/ocpp/common/connectivity_manager.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/diagnostics.cpp
  lib/ocpp/v2/functional_blocks/provisioning.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/security.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/functional_blocks/transaction.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
  tests/lib/ocpp/v2/mocks/connectivity_manager_mock.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v16): Cache entry check and bump version
  CMakeLists.txt
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

feat: New charge point configuration interface
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_configuration_base.hpp
  include/ocpp/v16/charge_point_configuration_devicemodel.hpp
  include/ocpp/v16/charge_point_configuration_interface.hpp
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v16/known_keys.hpp
  include/ocpp/v16/message_dispatcher.hpp
  include/ocpp/v16/smart_charging.hpp
  include/ocpp/v16/utils.hpp
  lib/CMakeLists.txt
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_configuration_base.cpp
  lib/ocpp/v16/charge_point_configuration_devicemodel.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/known_keys.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v16/utils.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/database_stub.hpp
  tests/lib/ocpp/v16/test_composite_schedule.cpp
  tests/lib/ocpp/v16/test_configuration.cpp
  tests/lib/ocpp/v16/test_smart_charging_handler.cpp
  tests/lib/ocpp/v16/test_utils.cpp
  tests/lib/ocpp/v16/v2config/configuration_stub.hpp
  tests/lib/ocpp/v16/v2config/memory_storage.cpp
  tests/lib/ocpp/v16/v2config/memory_storage.hpp
  tests/lib/ocpp/v16/v2config/test_california_pricing.cpp
  tests/lib/ocpp/v16/v2config/test_config.cpp
  tests/lib/ocpp/v16/v2config/test_core.cpp
  tests/lib/ocpp/v16/v2config/test_custom.cpp
  tests/lib/ocpp/v16/v2config/test_firmware_management.cpp
  tests/lib/ocpp/v16/v2config/test_internal.cpp
  tests/lib/ocpp/v16/v2config/test_local_auth_list.cpp
  tests/lib/ocpp/v16/v2config/test_pnc.cpp
  tests/lib/ocpp/v16/v2config/test_security.cpp
  tests/lib/ocpp/v16/v2config/test_smart_charging.cpp
  tests/lib/ocpp/v16/v2config/test_user_config.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix: expose reset_state_machine method to client
  lib/ocpp/v16/charge_point.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix: fetch readonly flag for AuthorizeRemoteTxRequests from Schema
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Add modem to BootNotificationRequest for OCPP 2.0.1
  lib/ocpp/v2/functional_blocks/provisioning.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v16): use configured OcspRequestInterval instead of hardcoded 12h default
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix: apply clang-format to ocsp_request_timer interval call
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(v16): correct drop_transaction_data to drop every second element
  lib/ocpp/v16/utils.cpp
  tests/lib/ocpp/v16/utils_tests.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre
