Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp16): Set the correct websocket connection options after upgrade
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Revert "revert ChangeAvailability scheduled for reserved state (#1024)"
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Set the correct websocket connection options after upgrade (#1122) (#25)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Fix: Add missing device_model argument to local auth config setup
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Change log from INFO to DEBUG
  CMakeLists.txt
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp16): Send invalid fw signature security event
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Send invalid fw signature security event (#1125) (#26)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Fix #1042: Add explicit config setup to authorization unit tests
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(tests): update set_local_pre_authorize and set_local_authorize_offline calls to match new signature
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix #1042: Pass device_model to set_local_* calls in authorization tests
  tests/lib/ocpp/v2/functional_blocks/test_authorization.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp16): Make UnlockConnectorOnEVSideDisconnect RO configurable
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(Ocpp16): Make StopTransactionOnEVSideDisconnect optional (#1015)
  config/v16/config-docker-tls.json
  config/v16/config-docker.json
  config/v16/profile_schemas/Core.json
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp16): Make UnlockConnectorOnEVSideDisconnect RO configurable
  include/ocpp/v16/charge_point_configuration.hpp
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @mlitre

fix(ocpp2): Fix crash on missing nullptr check on tx start
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix: StatusNotification timestamp is updated to represent the report time
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

append coverage compiler flags only to specific target (instead of globally). Run script to remove gcda files and orphaned object / gcno files (useful after switching branches)
  CMakeLists.txt
  lib/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Move adding coverage compiler flags to tests CMakeLists.
  lib/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add option to disable coverage cleanup. Cleanup after rebase.
  CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix int to string in throw
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add missing override keyword, fixing compiler warnings
  include/ocpp/v2/evse.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Free memory allocated by strdup at the end of websocket init
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add mcs feature
  include/ocpp/v2/ocpp_enums.hpp
  lib/ocpp/v2/ocpp_enums.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Removed misleading TLS logging
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add raw message logging (before parsing the message) (off by default)
  config/v16/profile_schemas/Internal.json
  config/v2/component_config/standardized/InternalCtrlr.json
  include/ocpp/common/ocpp_logging.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v2/ctrlr_component_variables.hpp
  lib/ocpp/common/ocpp_logging.cpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/ctrlr_component_variables.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Adapt SecurityTest to changed ctor of MEssageLogging
  tests/lib/ocpp/v2/functional_blocks/test_security.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Clarify description of LogMessagesRaw configuration key
  config/v16/profile_schemas/Internal.json
  config/v2/component_config/standardized/InternalCtrlr.json
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

fix(ocppv2): Fix GetCertStatusCallback to avoid uncaught exception
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix typo in LogMessagesRaw variable name (missing the "Raw")
  config/v2/component_config/standardized/InternalCtrlr.json
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Only attempt raw logging if log_raw is true
  lib/ocpp/common/ocpp_logging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(ocpp2x): Fix String too large exception
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Update libevse-security to 0.9.9
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Adapt database stub to fixed signature of column_int64 function
  tests/lib/ocpp/v16/database_stub.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump libwebsockets to v4.4.1
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Update everest-sqlite to 0.1.4
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Bump version to 0.30.2
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

libwebsockets: enable IPv6
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v2x): Update HeartbeatInterval variable value on BootResponse
  lib/ocpp/v2/functional_blocks/provisioning.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

fix(v2x): Update HeartbeatInterval variable value on BootResponse (#1145)
  lib/ocpp/v2/functional_blocks/provisioning.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use explicit comparisons in if statements and prefer empty() to size() == 0
  3rd_party/websocketpp_utils/base64.hpp
  include/ocpp/common/message_queue.hpp
  include/ocpp/v2/monitoring_updater.hpp
  lib/ocpp/common/ocpp_logging.cpp
  lib/ocpp/common/types.cpp
  lib/ocpp/common/utils.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/charge_point_state_machine.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/availability.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/monitoring_updater.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use stoul instead of atoi
  3rd_party/websocketpp_utils/uri.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre
