Repository EVerest/libocpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

.github/CODEOWNERS:

* @pietfried @hikinggrass @marcemmers @mlitre

/config/v16/ @pietfried @hikinggrass @mlitre
/include/ocpp/v16/ @pietfried @hikinggrass @mlitre
/lib/ocpp/v16/ @pietfried @hikinggrass @mlitre

/.github/ @pietfried @hikinggrass @mlitre

Add clamp_to and convert_to_positive_size_t utils functions
  include/ocpp/common/utils.hpp
  lib/ocpp/common/utils.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Do not declare multiple variables at once
  3rd_party/websocketpp_utils/base64.hpp
  lib/ocpp/common/ocpp_logging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use = default for ctors and use override for virtual functions
  include/ocpp/common/call_types.hpp
  include/ocpp/common/database/database_handler_common.hpp
  include/ocpp/common/evse_security.hpp
  include/ocpp/common/message_dispatcher.hpp
  include/ocpp/common/types.hpp
  include/ocpp/common/websocket/websocket_libwebsockets.hpp
  include/ocpp/common/websocket/websocket_uri.hpp
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v2/average_meter_values.hpp
  include/ocpp/v2/charge_point.hpp
  include/ocpp/v2/component_state_manager.hpp
  include/ocpp/v2/connectivity_manager.hpp
  include/ocpp/v2/database_handler.hpp
  include/ocpp/v2/device_model_storage_sqlite.hpp
  include/ocpp/v2/evse.hpp
  include/ocpp/v2/evse_manager.hpp
  include/ocpp/v2/functional_blocks/authorization.hpp
  include/ocpp/v2/functional_blocks/availability.hpp
  include/ocpp/v2/functional_blocks/data_transfer.hpp
  include/ocpp/v2/functional_blocks/diagnostics.hpp
  include/ocpp/v2/functional_blocks/display_message.hpp
  include/ocpp/v2/functional_blocks/firmware_update.hpp
  include/ocpp/v2/functional_blocks/meter_values.hpp
  include/ocpp/v2/functional_blocks/remote_transaction_control.hpp
  include/ocpp/v2/functional_blocks/reservation.hpp
  include/ocpp/v2/functional_blocks/security.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/functional_blocks/transaction.hpp
  include/ocpp/v2/init_device_model_db.hpp
  include/ocpp/v2/message_handler.hpp
  include/ocpp/v2/ocsp_updater.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/ocpp/common/types.cpp
  lib/ocpp/common/websocket/websocket.cpp
  lib/ocpp/v2/average_meter_values.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/component_state_manager.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v21/functional_blocks/bidirectional.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix header guard
  3rd_party/websocketpp_utils/base64.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use using instead of typedef
  include/ocpp/common/websocket/websocket_uri.hpp
  include/ocpp/v2/device_model.hpp
  include/ocpp/v2/functional_blocks/availability.hpp
  include/ocpp/v2/functional_blocks/diagnostics.hpp
  include/ocpp/v2/functional_blocks/display_message.hpp
  include/ocpp/v2/functional_blocks/firmware_update.hpp
  include/ocpp/v2/functional_blocks/provisioning.hpp
  include/ocpp/v2/functional_blocks/remote_transaction_control.hpp
  include/ocpp/v2/functional_blocks/reservation.hpp
  include/ocpp/v2/functional_blocks/security.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/functional_blocks/tariff_and_cost.hpp
  include/ocpp/v2/functional_blocks/transaction.hpp
  include/ocpp/v2/monitoring_updater.hpp
  include/ocpp/v2/ocsp_updater.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Initialize members and variables
  3rd_party/websocketpp_utils/uri.hpp
  include/ocpp/common/aligned_timer.hpp
  include/ocpp/common/message_queue.hpp
  include/ocpp/common/types.hpp
  include/ocpp/common/websocket/websocket_uri.hpp
  lib/ocpp/common/database/database_handler_common.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/database_handler.cpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v2/database_handler.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/evse_manager.cpp
  lib/ocpp/v2/functional_blocks/provisioning.cpp
  lib/ocpp/v2/functional_blocks/security.cpp
  lib/ocpp/v2/functional_blocks/transaction.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/monitoring_updater.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use ctor initializer list
  include/ocpp/common/call_types.hpp
  include/ocpp/common/message_queue.hpp
  include/ocpp/v16/transaction.hpp
  include/ocpp/v2/device_model_storage_interface.hpp
  include/ocpp/v2/init_device_model_db.hpp
  lib/ocpp/common/types.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_state_machine.cpp
  lib/ocpp/v16/transaction.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix clang-format config to always keep qualifiers aligned left
  .clang-format
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix missing value in enum declaration
  include/ocpp/common/call_types.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use const refs in generated messages and types
  lib/ocpp/v16/messages/GetConfiguration.cpp
  lib/ocpp/v16/messages/GetInstalledCertificateIds.cpp
  lib/ocpp/v16/messages/MeterValues.cpp
  lib/ocpp/v16/messages/SendLocalList.cpp
  lib/ocpp/v16/messages/StopTransaction.cpp
  lib/ocpp/v16/ocpp_types.cpp
  lib/ocpp/v2/messages/Authorize.cpp
  lib/ocpp/v2/messages/ClearVariableMonitoring.cpp
  lib/ocpp/v2/messages/Get15118EVCertificate.cpp
  lib/ocpp/v2/messages/GetDisplayMessages.cpp
  lib/ocpp/v2/messages/GetInstalledCertificateIds.cpp
  lib/ocpp/v2/messages/GetMonitoringReport.cpp
  lib/ocpp/v2/messages/GetReport.cpp
  lib/ocpp/v2/messages/GetVariables.cpp
  lib/ocpp/v2/messages/MeterValues.cpp
  lib/ocpp/v2/messages/NotifyChargingLimit.cpp
  lib/ocpp/v2/messages/NotifyDisplayMessages.cpp
  lib/ocpp/v2/messages/NotifyEvent.cpp
  lib/ocpp/v2/messages/NotifyMonitoringReport.cpp
  lib/ocpp/v2/messages/NotifyReport.cpp
  lib/ocpp/v2/messages/PublishFirmwareStatusNotification.cpp
  lib/ocpp/v2/messages/ReportChargingProfiles.cpp
  lib/ocpp/v2/messages/SendLocalList.cpp
  lib/ocpp/v2/messages/SetVariableMonitoring.cpp
  lib/ocpp/v2/messages/SetVariables.cpp
  lib/ocpp/v2/messages/TransactionEvent.cpp
  lib/ocpp/v2/ocpp_types.cpp
  lib/ocpp/v21/messages/BatterySwap.cpp
  lib/ocpp/v21/messages/ClearTariffs.cpp
  lib/ocpp/v21/messages/GetCertificateChainStatus.cpp
  lib/ocpp/v21/messages/GetPeriodicEventStream.cpp
  lib/ocpp/v21/messages/GetTariffs.cpp
  lib/ocpp/v21/messages/NotifyAllowedEnergyTransfer.cpp
  lib/ocpp/v21/messages/NotifyDERStartStop.cpp
  lib/ocpp/v21/messages/NotifyPeriodicEventStream.cpp
  lib/ocpp/v21/messages/ReportDERControl.cpp
  lib/ocpp/v21/messages/SetDERControl.cpp
  src/code_generator/common/templates/message.cpp.jinja
  src/code_generator/common/templates/ocpp_types.cpp.jinja
  src/code_generator/common/templates/ocpp_types.hpp.jinja
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Update gitignore file
  .gitignore
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add clang-tidy config
  .clang-tidy
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Simplify if/else handling, eg. no use of else after return
  3rd_party/websocketpp_utils/uri.hpp
  include/ocpp/common/message_queue.hpp
  include/ocpp/v2/device_model.hpp
  lib/ocpp/common/schemas.cpp
  lib/ocpp/common/types.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/charge_point_state_machine.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v16/utils.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v2/device_model_storage_sqlite.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/display_message.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/monitoring_updater.cpp
  lib/ocpp/v2/types.cpp
  lib/ocpp/v2/utils.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add NOLINT comments for needed reinterpret_casts
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use iterator instead of tracking a position manually
  lib/ocpp/common/utils.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

catch exceptions in destructors
  lib/ocpp/common/websocket/websocket_base.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/availability.cpp
  lib/ocpp/v2/functional_blocks/security.cpp
  lib/ocpp/v2/monitoring_updater.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Make log_on_fail static
  include/ocpp/common/websocket/websocket_base.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix size_t usage in profile
  include/ocpp/v16/profile.hpp
  include/ocpp/v2/profile.hpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Remove unused variables and initialization
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v2/functional_blocks/transaction.cpp
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Use enum class instead of enum
  include/ocpp/common/types.hpp
  include/ocpp/v16/types.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/monitoring_updater.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Access static member via class not this
  include/ocpp/common/string.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix unchecked optional access
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/average_meter_values.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/connectivity_manager.cpp
  lib/ocpp/v2/database_handler.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/diagnostics.cpp
  lib/ocpp/v2/functional_blocks/provisioning.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/reservation.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/functional_blocks/tariff_and_cost.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Use emplace_back instead of push_back
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v2/component_state_manager.cpp
  lib/ocpp/v2/database_handler.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

remove duplicate if statement
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Add some utils tests
  tests/lib/ocpp/common/utils_tests.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/utils_tests.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Comment out unused parameters
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/database_handler.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v2/charge_point.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/functional_blocks/transaction.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/message_dispatcher.cpp
  lib/ocpp/v2/message_queue.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use move
  include/ocpp/common/safe_queue.hpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use anonymous namespace instead of static
  include/ocpp/common/ocpp_logging.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v2/average_meter_values.hpp
  include/ocpp/v2/device_model.hpp
  include/ocpp/v2/functional_blocks/remote_transaction_control.hpp
  include/ocpp/v2/functional_blocks/smart_charging.hpp
  include/ocpp/v2/init_device_model_db.hpp
  include/ocpp/v2/monitoring_updater.hpp
  lib/ocpp/common/ocpp_logging.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/common/websocket/websocket_uri.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v2/average_meter_values.cpp
  lib/ocpp/v2/database_handler.cpp
  lib/ocpp/v2/device_model.cpp
  lib/ocpp/v2/device_model_storage_sqlite.cpp
  lib/ocpp/v2/evse.cpp
  lib/ocpp/v2/functional_blocks/authorization.cpp
  lib/ocpp/v2/functional_blocks/provisioning.cpp
  lib/ocpp/v2/functional_blocks/remote_transaction_control.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/init_device_model_db.cpp
  lib/ocpp/v2/monitoring_updater.cpp
  lib/ocpp/v2/profile.cpp
  tests/lib/ocpp/v2/functional_blocks/test_smart_charging.cpp
  tests/lib/ocpp/v2/smart_charging_test_utils.hpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Add readability NOLINT comments
  lib/ocpp/common/evse_security.cpp
  lib/ocpp/common/types.cpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v16/profile.cpp
  lib/ocpp/v2/device_model.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Ensure that reset() of object instead of smart ptr is used
  lib/ocpp/v2/database_handler.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix includes
  include/ocpp/common/call_types.hpp
  lib/ocpp/v16/charge_point_state_machine.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v2/device_model_storage_sqlite.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Fix parameter names not being identical in hpp and cpp
  include/ocpp/common/evse_security_impl.hpp
  include/ocpp/v16/database_handler.hpp
  include/ocpp/v2/monitoring_updater.hpp
  include/ocpp/v21/functional_blocks/bidirectional.hpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v2/connectivity_manager.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Use std::array
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v2/utils.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Ensure operator precedence
  include/ocpp/common/message_queue.hpp
  lib/ocpp/common/websocket/websocket_base.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Modify drop_transaction_data algorithm to fix some clang-tidy issues
  lib/ocpp/v16/utils.cpp
Owners: @pietfried, @hikinggrass, @mlitre

Cast values to appropriate types
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/smart_charging.cpp
  lib/ocpp/v2/device_model_storage_sqlite.cpp
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
  lib/ocpp/v2/init_device_model_db.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

compare to string::npos
  lib/ocpp/v2/functional_blocks/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Remove moves that do not do anything
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/v2/profile.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre

Remove redundant .get() or .c_str()
  lib/ocpp/v16/database_handler.cpp
  lib/ocpp/v2/evse.cpp
Owners: @pietfried, @hikinggrass, @mlitre, @marcemmers

Fix type of variable
  lib/ocpp/v2/charge_point.cpp
Owners: @pietfried, @hikinggrass, @marcemmers, @mlitre
